root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Apply these settings to JavaScript, TypeScript, and JSON files
[*.{js,ts,json}]
indent_size = 2

# Apply settings for HTML files
[*.html]
indent_size = 2

# Apply settings for CSS, SCSS, and LESS files
[*.{css,scss,less}]
indent_size = 2

# Apply settings for Markdown files
[*.md]
trim_trailing_whitespace = false
